<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .event-card {
            display: flex;
        }
        .event-thumbnail {
            height:100%;
            width:auto;
            margin-right: 15px;
        }
        img {
            height:110px;
            width:220px;
        }
        ul {
            display: inline-block;
        }
    </style>
    <body>
        <p>not done yet so here's a basic page</p> 
        <div>
            <ul id="eventList">
                
            </ul>
        </div>    
    </body>
    <script src="{{url_for('static', filename='content/events.js')}}"></script>
</head>