<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            #map { height: 600px; width: 800px}
        </style>

        <script>
            function loadLocalLeafletCss() {
                document.write("<link rel='stylesheet' href='{{url_for('static', filename='content/libs/leaflet/leaflet.css')}}'/>");
            }
            function loadLocalLeafletJs() {
                document.write("<script src='{{url_for('static', filename='content/libs/leaflet/leaflet.js')}}'><\/script>");
            }
            loadLocalLeafletCss();
        </script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="" onerror="loadLocalLeafletJs()"></script>
    </head>
    <body>
        <div id="map"></div>
        <p id="weatherInfo"></p>    
        <h2 id="activeAlertHeader">Active Alerts:</h2>
        <div id="activeAlertInfo"></div>
        <h2 id="pastAlerts">Past Alerts: </h2>
        <div id="pastAlertInfo"></div>
    </body>
    <script src="{{url_for('static', filename='content/weather.js')}}"></script>
</html>